<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
td{width: 50px; text-align: center;}
td:hover{background: lightgreen}
</style>
<script type="text/javascript">
fn_add = function(){
	window.location.href = "emp_add"
}
</script>
</head>
<body>
<h1>MEM_LIST</h1>

<table border="1">
	<thead>
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>전화번호</th>
			<th>주소</th>
		</tr>
	</thead>
	<tbody>
	{% for i in list %}
		<tr>
			<td><a href="mem_detail?m_id={{i.m_id}}">{{i.m_id}}</a></td>
			<td>{{i.m_name}}</td>
			<td>{{i.tel}}</td>
			<td>{{i.address}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<a href="mem_add"><input type="button" value="추가" onclick="fn_add()"></a>
</body>
</html>